<section class="section">
  <div class="section__nav-container">
    <app-breadcrumbs />
    <app-return-button routerLink="/administrador" />
  </div>

  <header class="section__header">
    <h2 class="section__title">{{ sectionTitle }}</h2>
    <app-searchbar />
  </header>

  <ng-container *ngFor="let item of items; index as i">
    <div [ngClass]="{ even: i % 2 === 0 }" class="card">
      <p class="card__description">
        <strong>{{ item.name }}</strong>
        <small>{{ item.registrationNumber }}</small>
      </p>

      <app-action-menu [itemId]="item.id" />
    </div>
  </ng-container>

  <footer class="section__footer">
    <app-pagination [length]="totalItems" (pageChange)="onPageChange($event)" />
  </footer>
</section>
