<section class="login-section">
  <header class="login-section__header">
    <h2 class="login-section__title">Seja bem-vindo!</h2>
    <p class="login-section__description">
      Utilize suas credenciais para realizar o login na plataforma Civitas.
    </p>

    <figure class="login-section__brand-logo">
      <img
        src="assets/logo.png"
        alt="Logo da Civitas: Uma imagem estilizada com uma figura central de uma silhueta de uma pessoa com os braços abertos, alcançando uma estrela. Ao redor, formas que lembram folhas ou pétalas em tons de laranja, verde e azul claro, com uma estrela amarela acima da mão da pessoa."
      />
      <figcaption>Civitas</figcaption>
    </figure>
  </header>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <app-input
      class="form__field"
      autocomplete="email"
      placeholder="Insira seu e-mail"
      type="email"
      [control]="loginForm.controls.email"
      [showErrors]="loginFailed"
    />
    <app-input
      class="form__field"
      autocomplete="current-password"
      placeholder="Insira sua senha"
      type="password"
      [control]="loginForm.controls.password"
      [showErrors]="loginFailed"
    />

    <strong class="form__error" *ngIf="loginForm.errors?.['unauthorized']">
      Seu e-mail ou senha estão incorretos.
    </strong>

    <strong class="form__error" *ngIf="loginForm.errors?.['noConnection']">
      Verifique sua conexão e tente novamente.
    </strong>

    <strong class="form__error" *ngIf="loginForm.errors?.['serverError']">
      Houve um problema no servidor.
    </strong>
    <app-button label="Entrar" type="submit" [isLoading]="isSubmitting" />
  </form>

  <picture class="login-section__picture">
    <source
      type="image/webp"
      srcset="assets/login-image.webp 1x, assets/login-image2x.webp 2x"
    />
    <img
      src="assets/login-image.webp"
      alt="Um grupo de crianças do ensino fundamental está sentado em suas carteiras em uma sala de aula bem iluminada, com as mãos levantadas entusiasticamente. Elas estão engajadas e ansiosas para responder à pergunta da professora."
    />
  </picture>
</section>
