<table class="table" mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
  </ng-container>

  <ng-container matColumnDef="performance">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="center">
      Desempenho
    </th>
    <td mat-cell *matCellDef="let row" class="center">
      <span class="badge" [class]="getPerformanceClass(row.performance)">
        {{ row.performance }}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="link">
    <th mat-header-cell *matHeaderCellDef class="right">Visualizar PDI</th>
    <td mat-cell *matCellDef="let row" class="right">
      <button
        [routerLink]="['aluno-pdi', row.id]"
        [matTooltip]="'Ver PDI de ' + row.name"
        matTooltipPosition="left"
        matTooltipHideDelay="1"
        mat-icon-button
      >
        <mat-icon>open_in_new</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; let even = even; columns: displayedColumns"
    [ngClass]="{ alternate: even }"
  ></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4" class="table__empty">
      Nenhum aluno encontrado.
      <button *ngIf="term" (click)="clearSearch()">Limpar filtros</button>
    </td>
  </tr>
</table>
