<div class="search search--mobile" [class.active]="isVisible">
  <button mat-icon-button *ngIf="isVisible" (click)="closeSearchbar()">
    <mat-icon color="primary">arrow_right</mat-icon>
  </button>

  <input
    id="searchbar--mobile"
    class="search__input"
    placeholder="Buscar..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="handleSearch($event)"
  />

  <button *ngIf="!isVisible" mat-icon-button (click)="openSearchbar()">
    <mat-icon>search</mat-icon>
  </button>

  <button
    mat-icon-button
    *ngIf="isVisible && searchTerm"
    (click)="clearSearch()"
  >
    <mat-icon>close</mat-icon>
  </button>

  <button *ngIf="!searchTerm" mat-icon-button color="primary">
    <mat-icon>search</mat-icon>
  </button>
</div>

<div class="search search--desktop">
  <input
    id="searchbar--desktop"
    class="search__input"
    placeholder="Buscar..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="handleSearch($event)"
  />
  <button *ngIf="!searchTerm" mat-icon-button>
    <mat-icon color="primary">search</mat-icon>
  </button>
  <button *ngIf="searchTerm" mat-icon-button (click)="clearSearch()">
    <mat-icon>close</mat-icon>
  </button>
</div>
