@import "variables";

.section {
  &__title {
    font-size: clamp(2rem, 1rem + 3vw, 2.5rem);
    margin-block-start: 5rem;
  }

  .list {
    list-style: none;

    &__item {
      display: flex;
      flex-direction: column;
      margin-block-end: 1.5rem;
    }

    .label {
      color: $primary-color;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}

.textarea-container {
  background-color: darken($light-bg-color, 2);
  margin-block-start: 3rem;
  width: 100%;

  textarea {
    color: inherit;
    min-height: 20rem;
    opacity: 0.65;

    @media screen and (min-width: $breakpoint-tablet) {
      min-height: 10rem;
    }
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    background-color: $light-bg-color;
  }
}
