@import "mixins";
@import "variables";

.section {
  margin-block-end: 19rem;

  &__header {
    margin-block-start: 5rem;
  }

  &__title {
    font-size: clamp(3.25rem, (1rem + 4vw), 4.5rem);
    line-height: 1.4;
    margin-block-start: -0.25rem;
  }

  &__button {
    display: block;
    background-color: rgba($sidebar-active-color, 0.2) !important;
    border-radius: 99rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-block-end: 7rem;

    strong {
      color: $primary-color;
    }
  }

  &__empty-state {
    background-color: rgba($card-bg-color-dark, 0.1);
    border-radius: 0.5rem;
    border: 1px solid $card-bg-color-dark;
    color: $primary-color;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin-block-start: 5rem;
    padding: 2rem;
    text-align: center;

    strong {
      text-decoration: underline;
    }

    &::before {
      content: "🛈";
    }
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;

  &__description {
    flex-basis: 100%;
  }

  &__select {
    flex: 2;
  }

  &__search {
    display: flex;
    flex: 1;

    @media screen and (min-width: $breakpoint-small-desktop) {
      max-width: 38.75rem;
    }
  }

  &__select,
  &__search {
    min-width: 30rem;
  }
}
