<section class="section">
  <header class="section__header">
    <h2 class="section__title">Plano de desenvolvimento individual</h2>
    <p>
      Olá, professor(a).
      <br />
      Vamos juntos acompanhar a evolução dos nossos estudantes? Nosso objetivo é
      evoluir as habilidades humanas dos nossos estudantes.
    </p>
  </header>

  <button mat-flat-button class="section__button" (click)="openDialog()">
    Ficou com alguma duvida? <strong>Clique aqui</strong>
  </button>

  <div class="filters">
    <p class="filters__description">
      Selecione uma turma para visualizar os alunos
    </p>
    <mat-form-field appearance="outline" class="filters__select">
      <mat-select
        placeholder="Selecione uma Turma"
        (selectionChange)="onSelect($event)"
      >
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{ option.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filters__search" appearance="outline">
      <button
        mat-icon-button
        matSuffix
        *ngIf="!term"
        [disabled]="students && !students.length"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button matSuffix *ngIf="term" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
      <input
        matInput
        placeholder="Pesquisar aluno"
        [disabled]="students && !students.length"
        [(ngModel)]="term"
        (keyup)="applyFilter()"
      />
    </mat-form-field>
  </div>

  <app-student-table
    *ngIf="students && students.length"
    [students]="students"
    [term]="term"
    (termChangeEvent)="term = $event"
  />

  <p *ngIf="!students" class="section__empty-state">
    Por favor, selecione uma turma para visualizar os alunos.
  </p>

  <p *ngIf="!students?.length" class="section__empty-state">
    Ainda <strong>não</strong> há alunos cadastrados para esta turma no banco de
    dados.
  </p>
</section>
