<section class="section">
  <header class="section__header">
    <h2>Plano de desenvolvimento individual</h2>
    <p>
      Olá, professor(a).
      <br />
      Vamos juntos acompanhar a evolução dos nossos estudantes? Nosso objetivo é
      evoluir as habilidades humanas dos nossos estudantes.
    </p>
  </header>

  <div class="card-wrapper">
    <article class="card" *ngFor="let card of cards">
      <div class="card__icon-container">
        <mat-icon class="material-icons-outlined" color="primary">
          {{ card.icon }}
        </mat-icon>
      </div>
      <div class="card__content">
        <p>{{ card.description }}</p>
        <strong>{{ card.descriptionValue }}</strong>
      </div>
    </article>
  </div>

  <div class="filters">
    <p class="filters__description">
      Selecione uma turma para visualizar os alunos
    </p>
    <mat-form-field appearance="outline" class="filters__select">
      <mat-select
        placeholder="Selecione uma Turma"
        (selectionChange)="onSelect($event)"
      >
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{ option.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filters__search" appearance="outline">
      <button mat-icon-button matSuffix *ngIf="!term">
        <mat-icon>search</mat-icon>
      </button>
      <button *ngIf="term" mat-icon-button matSuffix (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
      <input
        matInput
        placeholder="Pesquisar aluno"
        (keyup)="applyFilter()"
        [(ngModel)]="term"
      />
    </mat-form-field>
  </div>

  <app-student-table
    [users]="users"
    [term]="term"
    (termChangeEvent)="term = $event"
  />
</section>
