@use "@angular/material" as mat;
@import "themes";

/* Paletas */
$green-palette: mat.define-palette(mat.$green-palette);
$blue-palette: mat.define-palette(mat.$blue-palette);

/* Breakpoints */
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-small-desktop: 992px;
$breakpoint-large-desktop: 1200px;

/* Cores */
$primary-color: mat.get-color-from-palette($primary-palette);
$error-color: mat.get-color-from-palette($warn-palette);
$green-color: mat.get-color-from-palette($green-palette, 500);
$blue-color: mat.get-color-from-palette($blue-palette);

/* Inputs */
$input-label-color: mat.get-color-from-palette($primary-palette, 50);
$input-placeholder-color: mat.get-color-from-palette($primary-palette, 300);

/* Sidebar */
$sidebar-bg-color: mat.get-color-from-palette($primary-palette, 200);
$sidebar-active-color: mat.get-color-from-palette($primary-palette);

/* Cards */
$card-bg-color-default: mat.get-color-from-palette($primary-palette, 500);
$card-bg-color-light: mat.get-color-from-palette($primary-palette, 100);
$card-bg-color-dark: mat.get-color-from-palette($primary-palette, 400);

/* Links */
$link-color: $blue-color;
$link-hover-color: darken($link-color, 10%);

/* Searchbar */
$searchbar-bg-color: rgba($primary-color, 0.15);

/* Background */
$light-bg-color: #fff;

/* Border */
$border-color: #8080802f;
