@import "variables";

.material-input__field {
  width: 100%;

  // Alterando cor padrão do campo de input, quando tem a classe de erro ativada
  &:has(.material-input__error) {
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
      .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
      .mdc-notched-outline__trailing {
      border-color: $error-color !important;
    }
  }

  .material-input__error {
    &,
    &::placeholder {
      color: $error-color !important;
      opacity: 1;
    }
  }
}
