<app-image-action-panel
  imageUrl="/assets/teacher-image.webp"
  imageDescription=""
>
  <p class="description">
    Olá, professor(a)! <br />
    Aproveite a nossa ferramenta para aprimorar o desenvolvimento pessoal dos
    seus estudantes!
  </p>

  <form [formGroup]="form" (submit)="onSubmit($event)" panel>
    <app-input
      [control]="form.controls.teacherAdmissionId"
      placeholder="Número da matrícula do professor"
    />
    <app-button type="submit" label="Entrar" />
  </form>
</app-image-action-panel>
