.sidebar-container {
  position: relative;
  background: transparent;
  bottom: 0;
  left: 0;
  right: 0;

  .sidebar {
    position: fixed;
    background: #dbd5e9;
    text-align: center;
    width: 140px;
  }

  .list {
    margin-block-start: 90px;
    user-select: none;

    .item {
      height: 105px;

      &.active {
        // TODO: colocar essas cores no tema global
        $active-color: #9354bc;
        position: relative;
        background: mix($active-color, transparent, 10%);

        .item__icon,
        .item__label {
          color: $active-color;
        }

        &::after {
          position: absolute;
          content: "";
          background: $active-color;
          border-radius: 3px 0 0 3px;
          right: 0;
          top: 0;
          bottom: 0;
          width: 3px;
        }
      }
    }

    .item__icon {
      display: block;
      font-size: 47px;
      height: 47px;
      width: 100%;
    }
  }

  .logout {
    font-size: 1rem;
    padding: 2rem;
    margin-block: auto 3rem;
  }
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}
