@import '../../../styles.scss';

$buttontemplate:(
    background-color: $btn-bg-color,
    width: 32.8rem,
    margin: 0.5rem 0,
    padding: 1rem,
    border-radius: $btn-border-radius,
    height: 2.75rem,
    display: flex,
    align-items: center,
    justify-content: center,
);

$textButton:(
    color: $btn-text-color,
    text-decoration: none,
    font-size: $btn-font-size,
    font-weight: 400,
);

.buttonForm{
    @each $key, $value in $buttontemplate {
        #{$key}: #{$value};
      }
    button{
        background-color: transparent;
        width: 100%;
        border: none;
        @each $key, $value in $textButton {
            #{$key}: #{$value};
        }
    }
}

.btn{
    @each $key, $value in $buttontemplate {
        #{$key}: #{$value};
      }
    a{
        @each $key, $value in $textButton {
            #{$key}: #{$value};
        }        
    }
       
}
.btnLink{
    background-color: none;
    padding-top: 2rem;
    a{
        color: #000;
        font-size: 1rem;
        font-weight: 500;
        line-height: 2.1rem;
        letter-spacing: 0.1px;
    }
    
}

@media (max-width: 1280px) {
    .btn{
        width: 100%;
        margin-left: 0;
        font-size: 1.8rem;
    
    }
}