<div class="container">
    <div class="containerImg">
      <img [src]="img" [alt]="alt" />
    </div>
  
    <div class="containerButtons">
      <h1 class="title">Seja bem-vindo!</h1>
  
      <div class="descriptionText">
        <h4>{{ h4Text1 }}</h4>
        <h4>{{ h4Text2 }}</h4>
      </div>
  
      <form
        class="formLogin"
        (ngSubmit)="onSubmit($event, loginForm)"
        #loginForm="ngForm"
      >
        <mat-form-field
          class="areaInput"
          appearance="outline"
          [color]="matriculaInvalid ? 'warn' : 'primary'"
          
        >
          <input
            matInput
            [(ngModel)]="matricula"
            name="matricula"
            placeholder="{{ placeholder }}"
            id="{{ inputId }}"
            required
            #matriculaInput="ngModel"
            [ngClass]="{'input-error': matriculaInvalid}"
          />
          <span class="iconError" [ngClass]="{'visible': matriculaInvalid}">
            <mat-icon>highlight_off</mat-icon>
          </span>
          <mat-error class="errorInput" *ngIf="matriculaInput.invalid && matriculaInput.touched">
            {{ errorText }}
          </mat-error>
        </mat-form-field>
  
        <app-button
          [texto]="'Entrar'"
          id="{{ btnId }}"
          [class]="'buttonForm'"
        ></app-button>

      </form>
    </div>
  </div>
  



  