.section {
  &__header {
    margin-block-start: 80px;

    h2 {
      font-size: clamp(25px, 1rem + 2vw, 45px);
    }
  }

  &__description {
    max-width: 620px;
  }

  &__button {
    display: block;
    background: #6650a425;
    border-radius: 99px;
    color: #222;
    font-size: 11px;
    font-weight: 400;
    margin-block-end: 70px;

    strong {
      color: #6650a4;
    }
  }
}
