@import "mixins";
@import "variables";

.section {
  max-width: $breakpoint-small-desktop;

  &__title {
    font-size: clamp(2.8rem, (1rem + 3vw), 4.5rem);
    line-height: 1.2;
  }

  &__button {
    display: block;
    background-color: rgba($sidebar-active-color, 0.2);
    border-radius: 99rem;
    font-size: 1.2rem;
    font-weight: 400;
    margin-block-end: 7rem;

    strong {
      color: $primary-color;
    }
  }
}

.cards {
  @include center-flex;
  flex-wrap: wrap;
  gap: 2rem;

  @media screen and (min-width: calc($breakpoint-large-desktop + 4rem)) {
    justify-content: space-between;
  }
}
