<div class="container">
  <div class="containerImg">
    <img
      src="assets/imgHome.svg"
      alt="Grupo de estudantes em uma atividade ao ar livre"
    />
  </div>
  <div class="containerButtons">
    <h1 class="title">Seja bem-vindo!</h1>
    <h3>Para acessar a plataforma, selecione o seu tipo de perfil.</h3>

    <button id="btnLoginProf" class="btn">
      <a routerLink="auth/professor">Sou professor(a)</a>
    </button>

    <button id="btnLoginResp" class="btn">
      <a routerLink="auth/responsavel">Sou responsável</a>
    </button>

    <button id="btnAdmin" class="btnLink">
      <a routerLink="auth/administrador"> Sou administrador </a>
    </button>
  </div>
</div>
