:host {
  display: grid;
  margin: 0 auto;
  // TODO: configurar uma largura máxima para o conteúdo no estilo global
  max-width: 1020px;
  padding: 10px;
  place-items: center;
  height: 100vh;
  height: 100dvh;
}

.btn-link {
  all: unset;
  align-self: start;
  justify-self: start;
  height: 65px;
  margin-block-start: 35px;
}

section {
  align-self: start;
  width: 100%;
  max-width: 550px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
  }
}

::ng-deep app-button {
  text-align: center;

  button {
    margin-block-start: 20px;
    max-width: 265px;
  }
}
