// @import '../../pages/home/home.component.scss'
@import "../../../../../styles.scss";

.container {
  @each $key, $value in $display-flex-container-row {
    #{$key}: #{$value};
  }

  width: 100%;
  padding: 0;
  margin: 0;
  gap: 8rem;

  .containerButtons {
    h1 {
      text-align: justify;
      margin-bottom: 2rem;
    }
    .descriptionText {
      height: 5.25rem;
      width: 22.6rem;

      h4 {
        font-size: 1rem;
        text-align: justify;
        margin: 0;
        line-height: 1.7rem;
        letter-spacing: 0.5px;
      }
    }
    .formLogin {
      margin-top: 2rem;

      .areaInput {
        width: 100%;
        margin-bottom: 2rem;
        input {
          height: 3.5rem;
          font-size: 1.1rem;
          letter-spacing: 0.5px;
        }
        .errorInput {
          color: #b3261e;
          position: relative;
          left: -15px;
          font-weight: 500;
        }
        .input-error::placeholder {
          color: #b3261e;
        }

        .iconError {
          visibility: hidden;
          position: absolute;
        }

        .iconError.visible {
          visibility: visible;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          color: #b3261e;
        }
      }
    }
  }
}

.buttonForm {
  all: unset;
  @each $key, $value in $buttontemplate {
    #{$key}: #{$value};
  }

  @each $key, $value in $textButton {
    #{$key}: #{$value};
  }
}

@media (max-width: 1280px) {
  .container {
    .containerImg {
      width: 80%;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    gap: 3rem;
    @each $key, $value in $display-flex-container-column {
      #{$key}: #{$value};
    }
    .containerImg img {
      height: 50vh;
    }
  }
}

@media (max-width: 576px) {
  .container {
    .containerButtons {
      width: 80%;

      h1 {
        font-size: 2.3rem;
      }
      .descriptionText {
        width: 20rem;
        height: 7rem;
      }
      .formLogin {
        .areaInput {
          margin-bottom: 1rem;
          input {
            height: 2.5rem;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
