@import "themes";

/* Soft reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Cada REM vai ter o valor de 10px com essa config */
html {
  font-size: 62.5%;
}
