@use "@angular/material" as mat;
@include mat.core();

/* Soft reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Cada REM vai ter o valor de 10px com essa config */
html {
  font-size: 62.5%;
}

/* Tipografia */
$typography-config: mat.define-typography-config(
  $headline-5: /* Usado para o h1 */
    mat.define-typography-level(
      clamp(4rem, (1rem + 5vw), 4.5rem),
      5rem,
      700,
      $font-family: "Inter, Roboto, sans-serif"
    ),
  $headline-6: /* Usado para o h2 */
    mat.define-typography-level(
      clamp(3.5rem, (1rem + 6vw), 4.5rem),
      5rem,
      500,
      $font-family: "Inter, Roboto, sans-serif"
    ),
  $body-2: mat.define-typography-level(1.6rem, 2.5rem, 400)
    /* Parágrafos em geral */,
);
@include mat.typography-hierarchy($typography-config);
