<section class="section">
  <hgroup class="section__header">
    <h2 class="section__title">Olá, administrador!</h2>
    <p class="section__description">
      Cadastre e gerencie estudantes, professores, turmas e disciplinas da sua
      escola.
    </p>
  </hgroup>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <app-input
      [control]="loginForm.controls.email"
      [showErrors]="loginFailed"
      autocomplete="email"
      placeholder="Insira seu e-mail"
      type="email"
    />
    <app-input
      [control]="loginForm.controls.password"
      [showErrors]="loginFailed"
      autocomplete="current-password"
      placeholder="Insira sua senha"
      type="password"
    />

    <!-- Para ficar igual ao Figma, essa mensagem aparece aqui quando o admin envia errado as credencias, talvez fosse mais interessante colocar essa mensagem em uma snackbar -->
    <strong class="failed-message" *ngIf="loginForm.errors?.['unauthorized']"
      >Seu e-mail ou senha estão incorretos.
    </strong>

    <app-button
      label="Entrar"
      [disabled]="loginForm.invalid"
      [isLoading]="loginForm.pending"
    />
    <a color="primary" routerLink=".." mat-stroked-button>Voltar</a>
  </form>
</section>
