<section class="section">
  <hgroup class="section__header">
    <h2 class="section__title">Olá, administrador!</h2>
    <p class="section__description">
      Cadastre e gerencie estudantes, professores, turmas e disciplinas da sua
      escola.
    </p>
  </hgroup>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <app-input
      [control]="loginForm.controls.email"
      autocomplete="email"
      placeholder="Insira seu e-mail"
      type="email"
    />
    <app-input
      [control]="loginForm.controls.password"
      autocomplete="current-password"
      placeholder="Insira sua senha"
      type="password"
    />
    <app-button
      label="Entrar"
      [disabled]="loginForm.invalid"
      [isLoading]="loginForm.pending"
    />
    <a href="/">Voltar</a>
  </form>
</section>
