@import "mixins";
@import "variables";

.main {
  max-width: $breakpoint-large-desktop;
  margin: 6.5rem auto;
}

.logout-btn {
  all: unset;
  @include center-flex;
  cursor: pointer;
  font-size: 1.8rem;
  gap: 0.5rem;

  mat-icon {
    @include center-flex;
    font-size: 1.8rem;
  }
}
