@import "mixins";
@import "variables";

:host {
  display: block;
  padding-block-end: 1px;
  min-height: 100vh;
  min-height: 100dvh;
}

.main {
  max-width: $breakpoint-large-desktop;
  margin: 5rem auto 10rem;
  padding: 2rem;

  @media screen and (min-width: $breakpoint-large-desktop) {
    padding-inline: 0;
  }
}

.logout-btn {
  all: unset;
  @include center-flex;
  cursor: pointer;
  font-size: 1.8rem;
  gap: 0.5rem;

  mat-icon {
    @include center-flex;
    font-size: 1.8rem;
  }
}
